@media only screen and (min-width: 1224px) {

    //Section About
    #about {
        h1,
        h5,
        .lead {
            float: left;
        }

        h5 {
            margin-top: 50px;
        }

        .text-biography {
            margin: $main-margin;
        }
    }
}
