#about {
    margin-top: 150px;
    text-align: center;
    img {
        border-radius: 50%;
    }
    h5 {
        font-size: 25px;
        font-weight: 400;
    }
    h1 {
        font-size: 35px;
        font-weight: bold;
    }
    .lead {
        font-weight: 400;
        font-style: italic;
        color: $color-green;
        margin: 0;
    }
    .text-biography {
        margin: 10px;
    }
}
