.navbar {
    background-color: $color-ghost;
    a {
        font-size: $font-heading-5;
        font-weight: 400;
    }

    .logo-name {
        margin: auto 2em;
        font-weight: 800;
    }
}
